# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore Release folder
Release/*

# Ignore Debug folder
Debug/*

# Ignore vim backup files and swp files
*~
*.swp
